@use '../../abstract/' as *;
@use '../page-main/introduction/' as *;
@use '../page-main/portfolio/' as *;
@use '../page-main/about/about' as *;
@use '../page-main/activities/' as *;

html {
    scroll-behavior: smooth;
}

.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-main>*:nth-child(odd) {
    background-color: $color-alternate-background-primary;
}

.page-main>*:nth-child(even) {
    background-color: $color-alternate-background-secondary;
}

#modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.95);
    backdrop-filter: blur(1px);
    z-index: 1;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}