@use '../../abstract/' as *;
@use '../page-main/introduction/' as *;
@use '../page-main/portfolio/' as *;
@use '../page-main/about/about' as *;
@use '../page-main/activities/' as *;

html {
    scroll-behavior: smooth;
}

.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-main>*:nth-child(odd) {
    background-color: $color-alternate-background-primary;
}

.page-main>*:nth-child(even) {
    background-color: $color-alternate-background-secondary;
}