@use '../../abstract/' as *;
@use '../page-main/introduction/' as *;
@use '../page-main/portfolio/' as *;
@use '../page-main/about/about' as *;
@use '../page-main/activities/' as *;

.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-main>*:nth-child(odd) {
    background-color: burlywood;
}

.page-main>*:nth-child(even) {
    background-color: coral;
}