@use '../../../abstract/' as *;

.about {
    width: 100%;
    padding: $padding-in-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-in-section;

    &__footer {
        margin-top: $margin-section-footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        a {
            height: $hyperlink-button-height;
            width: $hyperlink-button-width;
            border-radius: calc($hyperlink-button-height / 2);
            background-color: $hyperlink-button-background;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-light-font;
        }
    }
}