@use '../../../abstract/' as *;

.introduction {
    width: 100%;
    padding: $padding-in-section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap-in-section;

    picture {
        width: 25%;
    }

    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: $gap-in-subsection;

    }

    &__text {
        width: 70%
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}