@use '../../../abstract/' as *;

.introduction {
    width: 100%;
    padding: $paddingY-in-section $paddingX-in-section;
    display: flex;
    justify-content: space-between;

    picture {
        width: 25%;
    }

    &__main {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: $gap-in-subsection;

        h1 {
            font-size: $font-h1;
        }

        &__link {
            height: $hyperlink-button-height;
            width: $hyperlink-button-width;
            border-radius: calc($hyperlink-button-height / 2);
            background-color: $hyperlink-button-background;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-light-font;
        }
    }
}