@use '../abstract/' as *;

.modal-form-wrapper {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 50%;
    height: fit-content;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: antiquewhite;
    color: $color-dark-font;
    display: flex;
    flex-direction: column;
    gap: $gap-in-section;

    header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        #submit-error {
            height: 2em;
        }
    }


    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: $gap-in-subsection;

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__email {
            width: 15em;
            border: 4px lightgray ridge;
            padding: 3px 2px 3px 10px;
        }

        &__message {
            width: 100%;
            height: 10em;
            border: 4px lightgray ridge;
            resize: none;
            padding: 3px 2px 3px 10px;
        }

        footer {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__buttons {
            align-self: flex-end;
            display: flex;
            gap: 30px;
        }

        &__cancel {
            padding: 5px 20px;
            background-color: gray;
            color: $color-light-font;
            border-radius: $border-radius-small;
        }

        &__submit {
            padding: 5px 20px;
            background-color: $hyperlink-outer-button-background ;
            color: $color-light-font;
            border-radius: $border-radius-small;
        }
    }
}

.modal-picture {
    position: fixed;
    z-index: 2;
    width: 65vw;
    // max-height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__img {
        width: 100%;
        border: 16px groove $color-picture-border;

        img {
            object-fit: cover;
            max-height: 100%;
        }
    }

    .arrow {
        height: calc($slider-navigation-size + 5px);
        width: calc($slider-navigation-size + 5px);
        border-radius: 50%;
        color: $color-slider-nav;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: $slider-navigation-size;
        position: absolute;
        top: 50%;
    }

    &__arrow-left {
        left: 0;
        transform: translate(-100%, -50%);
    }

    &__arrow-right {

        right: 0;

        transform: translate(100%, -50%) scaleX(-1);
    }
}

.modal-close {
    height: $slider-close-size;
    width: $slider-close-size;
    border-radius: 50%;
    background-color: $color-bg-slider-close;
    color: $color-slider-close;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $slider-close-size;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}

.modal-screenshot-container {
    position: fixed;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__img-landscape {
        width: 85vw;
        height: auto;

        img {
            object-fit: cover;
            width: 100%
        }
    }

    &__img-squarish {
        height: fit-content;
        width: fit-content;

        img {
            width: initial;
            max-width: 85vw;
            max-height: 85vh;
        }
    }

    &__img-portrait {
        height: 85vh;
        width: auto;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

#modal-photo-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.95);
    backdrop-filter: blur(1px);
    z-index: 1;
}

#modal-contact-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
    z-index: 1;
}

#modal-project-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
    z-index: 1;
}

@media only screen and (max-width:1250px) {
    .modal-picture {

        &__img {
            border: 8px groove $color-picture-border;
        }
    }
}

@media only screen and (max-width:800px) {
    .modal-picture {
        width: 80vw;

        .arrow {
            height: calc(($slider-navigation-size + 5px) * .75);
            width: calc(($slider-navigation-size + 5px) * .75);
            font-size: calc($slider-navigation-size * .75);
        }
    }

    .modal-close {
        height: calc($slider-close-size * 0.75);
        width: calc($slider-close-size * 0.75);
        font-size: calc($slider-close-size * 0.75);
    }
}

@media only screen and (max-width:500px) {
    .modal-picture {
        width: 70vw;

        .arrow {
            height: calc(($slider-navigation-size + 5px) * .6);
            width: calc(($slider-navigation-size + 5px) * .6);
            font-size: calc($slider-navigation-size * .6);
        }
    }

    .modal-close {
        height: calc($slider-close-size * .6);
        width: calc($slider-close-size * .6);
        font-size: calc($slider-close-size * .6);
    }
}

@media only screen and (max-height:560px) {
    .modal-picture {
        position: fixed;
        z-index: 2;
        max-width: none;
        min-width: none;
        max-height: 100%;


        &__img {
            object-fit: cover;
            height: auto;
            width: auto;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }

    .modal-close {
        transform: translate(175%, 50%);
    }
}