@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Fanwood Text";
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Tenor Sans";
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.error {
  color: red;
}

button {
  font-size: 20px;
  max-width: 80vw !important;
}

button.inner-link {
  background-color: #60AB73;
  color: white;
  height: 60px;
  width: 300px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button.outer-link {
  padding: 5px 20px;
  background-color: #60AB73;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.upward::after {
  content: "☝";
  font-size: 50px;
}

button.downward::after {
  content: "☟";
  font-size: 50px;
}

button.outer-link::after {
  content: "➜";
  font-size: 22px;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.page-header .header-nav {
  display: flex;
  align-items: center;
}
.page-header .header-nav ul {
  display: flex;
  justify-content: center;
}
.page-header .header-nav ul li {
  list-style: none;
  padding: 10px 25px;
  font-size: 25px;
  color: white;
  background-color: black;
  transition: background-color 0.6s ease;
}
.page-header .header-nav ul li:hover {
  background-color: #A7D2EB;
}
.page-header .burger-menu {
  display: none;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .page-header {
    display: block;
  }
  .page-header .header-nav {
    display: none;
  }
  .page-header .burger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .page-header .burger-menu__button {
    height: 64px;
    width: 64px;
  }
  .page-header .burger-menu__nav {
    position: absolute;
    top: 64px;
  }
  .page-header .burger-menu__nav ul {
    display: flex;
    flex-direction: column;
  }
  .page-header .burger-menu__nav ul li {
    list-style: none;
    padding: 10px 25px;
    font-size: 25px;
    color: white;
    background-color: black;
    transition: background-color 0.6s ease;
    text-align: center;
  }
  .page-header .burger-menu__nav ul li:hover {
    background-color: #A7D2EB;
  }
}
.introduction {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.introduction__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.introduction__photo-wrapper {
  width: 25%;
  max-width: 250px;
}
.introduction__photo-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
.introduction__text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduction footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.introduction footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .introduction__main {
    flex-direction: column;
  }
  .introduction__photo-wrapper {
    width: 60%;
    max-width: 250px;
  }
  .introduction__photo-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-radius: 50%;
  }
  .introduction footer {
    text-align: center;
  }
}
.portfolio {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.portfolio__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.portfolio .learning-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.portfolio .learning-projects__title {
  text-align: center;
  margin-bottom: 30px;
}
.portfolio .learning-projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio .learning-projects__summary {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.portfolio .learning-projects__summary li {
  margin-left: 15px;
}
.portfolio__main {
  width: 100%;
}
.portfolio__footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.portfolio__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 900px) {
  .learning-projects__container {
    gap: 20px;
  }
}
.portfolio-article {
  width: 30%;
  padding: 20px 20px;
  background-color: #A7D2EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.portfolio-article__header picture {
  height: 100px;
}
.portfolio-article__header picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.portfolio-article__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.portfolio-article__main h4 {
  text-align: center;
}
.portfolio-article__main a {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  margin-top: auto;
}

@media only screen and (max-width: 900px) {
  .portfolio-article {
    width: 100%;
  }
}
.about {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.about__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.activities__main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.activities__footer {
  margin-top: 50px;
}
.activities__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#picture-grid picture {
  border: 6px groove brown;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #picture-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
html {
  scroll-behavior: smooth;
}

.page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-main > *:nth-child(odd) {
  background-color: burlywood;
}

.page-main > *:nth-child(even) {
  background-color: #3C7391;
}

.page-footer {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 25px;
  color: white;
}
.page-footer ul {
  display: flex;
  gap: 100px;
}
.page-footer ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .page-footer ul {
    flex-direction: column;
    gap: 30px;
  }
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.minigames {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}
.minigames header {
  padding: 75px 5% 50px 5%;
}
.minigames header h1 {
  text-align: center;
  margin-bottom: 30px;
}
.minigames header .github-nav {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.minigames header .github-nav a {
  color: #0b9b2f;
  text-decoration: underline;
}
.minigames__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.minigames__home {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.minigames__home .screenshots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.minigames__home .screenshots picture {
  height: 40%;
  width: 40%;
}
.minigames__home .screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  cursor: pointer;
}
.minigames__pong {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.minigames__pong li {
  list-style: upper-roman;
}
.minigames article {
  margin-top: 30px;
}
.minigames .objects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.minigames .objects__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.minigames .objects__screenshots picture {
  height: 40%;
  width: 40%;
}
.minigames .objects__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.minigames .interactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.minigames .interactions__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.minigames .interactions__screenshots picture {
  height: 60%;
}
.minigames .interactions__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.minigames .mouse-movement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.minigames .mouse-movement__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.minigames .mouse-movement__screenshots picture {
  width: 60%;
}
.minigames .mouse-movement__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.minigames .gallery-screenshots {
  background-color: #3C7391;
  padding: 20px 20px;
}

@media only screen and (max-width: 600px) {
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
.newsProject {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}
.newsProject header {
  padding: 75px 5% 50px 5%;
}
.newsProject header h1 {
  text-align: center;
  margin-bottom: 30px;
}
.newsProject header .github-nav {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newsProject header .github-nav a {
  color: #0b9b2f;
  text-decoration: underline;
}
.newsProject__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.newsProject__home {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsProject__home .screenshots {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.newsProject__home .screenshots picture.horizontal {
  height: 100%;
  width: 70%;
}
.newsProject__home .screenshots picture.horizontal img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  cursor: pointer;
}
.newsProject__home .screenshots picture.vertical {
  height: 100%;
  width: 20%;
}
.newsProject__home .screenshots picture.vertical img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  cursor: pointer;
}
.newsProject__request {
  width: 100%;
  padding: 75px 5% 50px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsProject__request li {
  list-style: upper-roman;
}
.newsProject article {
  margin-top: 30px;
}
.newsProject .query {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsProject .query__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.newsProject .query__screenshots picture {
  height: 45%;
  width: 45%;
}
.newsProject .query__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.newsProject .query__screenshots picture.listeners {
  height: 80%;
  width: 80%;
}
.newsProject .query__screenshots picture.listeners img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.newsProject .fetch {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsProject .fetch__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.newsProject .fetch__screenshots picture {
  height: 80%;
  width: 80%;
}
.newsProject .fetch__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.newsProject .display {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsProject .display__screenshots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.newsProject .display__screenshots picture {
  height: 80%;
  width: 80%;
}
.newsProject .display__screenshots picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.newsProject .gallery-screenshots {
  background-color: #3C7391;
  padding: 20px 20px;
}
.newsProject .gallery-screenshots img {
  cursor: pointer;
}
.newsProject li {
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
.modal-form-wrapper {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: antiquewhite;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-form-wrapper header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-form-wrapper header #submit-error {
  height: 2em;
}
.modal-form-wrapper .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-form-wrapper .contact-form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-form-wrapper .contact-form__email {
  width: 15em;
  border: 4px lightgray ridge;
  padding: 3px 2px 3px 10px;
}
.modal-form-wrapper .contact-form__message {
  width: 100%;
  height: 10em;
  border: 4px lightgray ridge;
  resize: none;
  padding: 3px 2px 3px 10px;
}
.modal-form-wrapper .contact-form footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-form-wrapper .contact-form__buttons {
  align-self: flex-end;
  display: flex;
  gap: 30px;
}
.modal-form-wrapper .contact-form__cancel {
  padding: 5px 20px;
  background-color: gray;
  color: white;
  border-radius: 5px;
}
.modal-form-wrapper .contact-form__submit {
  padding: 5px 20px;
  background-color: #60AB73;
  color: white;
  border-radius: 5px;
}

.modal-picture {
  position: fixed;
  z-index: 2;
  width: 65vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-picture__img {
  width: 100%;
  border: 16px groove brown;
}
.modal-picture__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}
.modal-picture .arrow {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 50%;
}
.modal-picture__arrow-left {
  left: 0;
  transform: translate(-100%, -50%);
}
.modal-picture__arrow-right {
  right: 0;
  transform: translate(100%, -50%) scaleX(-1);
}

.modal-close {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.modal-screenshot-container {
  position: fixed;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-screenshot-container__img-landscape {
  width: 85vw;
  height: auto;
}
.modal-screenshot-container__img-landscape img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.modal-screenshot-container__img-squarish {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.modal-screenshot-container__img-squarish img {
  width: initial;
  max-width: 85vw;
  max-height: 85vh;
}
.modal-screenshot-container__img-portrait {
  height: 85vh;
  width: auto;
}
.modal-screenshot-container__img-portrait img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#modal-photo-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}

#modal-contact-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}

#modal-project-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}

@media only screen and (max-width: 1250px) {
  .modal-picture__img {
    border: 8px groove brown;
  }
  .modal-form-wrapper {
    width: 65%;
    padding: 20px 5%;
  }
}
@media only screen and (max-width: 900px) {
  .modal-form-wrapper {
    width: 80%;
  }
  .modal-form-wrapper .contact-form__email {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .modal-picture {
    width: 80vw;
  }
  .modal-picture .arrow {
    height: 78.75px;
    width: 78.75px;
    font-size: 75px;
  }
  .modal-close {
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-form-wrapper {
    width: 95%;
  }
  .modal-form-wrapper .contact-form__email {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .modal-picture {
    width: 70vw;
  }
  .modal-picture .arrow {
    height: 63px;
    width: 63px;
    font-size: 60px;
  }
  .modal-close {
    height: 24px;
    width: 24px;
    font-size: 24px;
  }
}
@media only screen and (max-height: 560px) {
  .modal-picture {
    position: fixed;
    z-index: 2;
    max-width: none;
    min-width: none;
    max-height: 100%;
  }
  .modal-picture__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    width: auto;
  }
  .modal-picture__img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .modal-close {
    transform: translate(175%, 50%);
  }
}
.hidden {
  display: none;
}

.visible {
  display: flex;
}

.transparent {
  opacity: 0;
}/*# sourceMappingURL=styles.css.map */